onlinefooddeliverydf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "onlinefooddeliverydf"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"SqlServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer2'"
		},
		"mysqlserver_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'mysqlserver'"
		},
		"snowflake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'snowflake'"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "JM-DKT-028"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "online_food_delivery"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LinuxVM"
		},
		"SqlServer2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "JM-DKT-028"
		},
		"SqlServer2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "online_food_delivery"
		},
		"SqlServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azuread\\mandanavyavenkatasai"
		},
		"linkedServiceforStaging_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'linkedServiceforStaging'"
		},
		"mysqlserver_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "JM-DKT-028"
		},
		"mysqlserver_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "online_food_delivery"
		},
		"mysqlserver_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "AzureAD\\MandaNavyaVenkataSai"
		},
		"snowflake_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db_online_food_delivery"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/customer_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "customer_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedServiceforStaging",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-13T14:11:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceforStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/master_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_Customer",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "customer_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Product",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "product_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Transaction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "new_transaction_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/customer_pipeline')]",
				"[concat(variables('factoryId'), '/pipelines/product_pipeline')]",
				"[concat(variables('factoryId'), '/pipelines/new_transaction_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/new_transaction_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedServiceforStaging",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "customer_id",
											"type": "Int32"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "product_id",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "payment_month",
											"type": "DateTime"
										},
										"sink": {
											"name": "PAYMENT_MONTH",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "revenue_type",
											"type": "Byte"
										},
										"sink": {
											"name": "REVENUE_TYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "revenue",
											"type": "Double"
										},
										"sink": {
											"name": "REVENUE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "Byte"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "dimension_1",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_2",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_3",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_4",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_5",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_6",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_7",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_8",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_9",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dimension_10",
											"type": "String"
										},
										"sink": {
											"name": "DIMENSION_10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "companies",
											"type": "String"
										},
										"sink": {
											"name": "COMPANIES",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceforStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/product_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "product_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedServiceforStaging",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-13T14:11:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedServiceforStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "FOOD_DELIVERY_SCHEMA",
					"table": "TRANSACTION_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "mysqlserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "up_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mysqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer2_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer2_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('SqlServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "MSSQLIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MSSQLIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedServiceforStaging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('linkedServiceforStaging_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mysqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('mysqlserver_properties_typeProperties_server')]",
					"database": "[parameters('mysqlserver_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('mysqlserver_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('mysqlserver_password')]"
					}
				},
				"connectVia": {
					"referenceName": "MSSQLIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MSSQLIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "ECKZCKZ-ZW67522",
					"user": "navyamanda8",
					"database": "[parameters('snowflake_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('snowflake_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MSSQLIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Connecting ADF to On-Premise",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}